<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>授权档案管理列表</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript"
	src="../static/script/listIncludeStyle.js"></script>
</head>
<body name="archive">
	<div class="contentWrap">
		<div class="btnWrap">
			<button class="createBtn">新增</button>
		</div>
		<div class="listWrap">
			<table id="grid-data"></table>
		</div>
	</div>
</body>
<script type="text/javascript"
	src="../static/script/listIncludeScript.js"></script>
<script type="text/javascript">
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
	}
	
	// 获取页面url配置文件列表对象
	var listObj = getUrlList("../static/script/urlList/archive.json");
	// 获取当前页面name
	var pageName = $("body").attr("name");
	// 获取当前页面url配置列表对象
	var urlObj = returnOneUrlObj(pageName, listObj);
	// 设置组件标识flagName
	var flagName = "id";
	// 设置查询框layer层index
	var searchIndex = null,
	// 设置查询框查询条件
	searchData = {},
	// 设置查询框查询成功返回对象
	returnData = {};
	var submitData = parent.parent.formData;
	searchData.search_EQ_cretNo = submitData.certNo;
	searchData.search_EQ_cretType = submitData.certType;
	searchData.search_EQ_clientName = submitData.clientName;
	searchData.search_EQ_status = "1";
	// 设置查询框查询成功返回对象
	var returnData = {};
	$.post(urlObj.getPage,searchData, function(result){
		returnData = strToJson(result);
	});
	// 设置提交返回comData和bizData对象
	var comAndBiz = {};
	// 设置设置全局字典对象，每次查询字典先查询此对象中是否存在
	var globalDic = {};
	// 获取字典对象,定义表格中需要回显的dicData
	
	// 身份证字典
	var idTypeDic = {
		url : "common/cpqDic",
		type : "certTypeID"
	};
	// 档案类型
	var archiveTypeDic = {
			url : "common/cpqDic",
			type : "archiveType"
		};
	// 授权状态
	var archiveStatusDic = {
			url : "common/cpqDic",
			type : "archiveStatus"
		};
	var deptName = {
			url : "common/getDeptCodeName",
			type : "deptCodeName"
		};
	var buttonGroupDic = {
		};
	// 设置表格组件配置项
	var gridOpt = {
		id : "grid-data",
		url : urlObj.getPage,
		columns : [ {
			field : 'ck',
			checkbox : true,
			width : 20,
			align : 'center'
		}, {
			field : 'id',
			title : '档案编号',
			width : 50,
			align : 'center'
		}, {
			field : 'clientName',
			title : '客户姓名',
			width : 40,
			align : 'left'
		},{
			field : 'cretType',
			title : '证件类型',
			width : 40,
			align : 'left',
			dic   : idTypeDic
		},{
			field : 'cretNo',
			title : '证件号码',
			width : 40,
			align : 'left'
		},{
			field : 'archiveType',
			title : '授权类型',
			width : 40,
			align : 'left',
			dic	  : archiveTypeDic
		},{
			field : 'startDate',
			title : '授权起始日',
			width : 40,
			align : 'left'
		},{
			field : 'expireDate',
			title : '授权到期日',
			width : 40,
			align : 'left'
		},{
			field : 'extendDate',
			title : '展期到期日',
			width : 40,
			align : 'left'
		},{
			field : 'status',
			title : '授权状态',
			width : 40,
			align : 'left',
			dic   :  archiveStatusDic
		}, {
			field : 'creator',
			title : '创建人',
			width : 40,
			align : 'left'

		},{
			field : 'ownorg',
			title : '所属机构',
			width : 40,
			align : 'left',
			dic   :  deptName
		}, {
			field : 'quantity',
			title : '资料数',
			width : 40,
			align : 'left'
		}, {
			field : 'queryNum',
			title : '关联查询数量',
			width : 40,
			align : 'left'
		} ],
		pagination : true,
		data : searchData,
		returnData : returnData,
		flagName : flagName,
		selectOnly: true
	};
	// 表单返回数据对象
	var formData = {};
	$(function() {
		// 初始化表格组件
		gridInit($("#grid-data"), gridOpt);
		// 设置页签组件配置项
		 var obj = {
			keyName : "id",
			isNotLinkedBisic : true,
			keyNameIsOnly : true,
			pageName : pageName,
			listObj : listObj,
			urlObj : urlObj,
		}; 
		// 绑定页面点击事件（含初始化页签组件）
		bindBtnEvent(obj);
	})
</script>
</html>