<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分页列表</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript"
	src="../static/script/listIncludeStyle.js"></script>
</head>
<body name="ccUser">
	<div class="main-list">
		<div class="inquiry">
			<form class="layui-form" action="">
				<div class="list-top">
					<div class="list-top_left">
						<h5>筛选条件</h5>
					</div>
					<div class="list-top_right">
						<ul>
							<li><a href="javascript:void(0);"><img
									src="../static/images/table/btn_icon1.png"></a></li>
							<li><a href="javascript:void(0);"><img
									src="../static/images/table/btn_icon2.png"></a></li>
							<li><a href="javascript:void(0);"><img
									src="../static/images/table/btn_icon3.png"></a></li>
						</ul>
					</div>
				</div>
				<ul class="cons clearfix modal-body">
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">征信用户名称：</label>
							<div class="layui-input-block">
								<input type="text" name="search_LIKE_ccId" class="layui-input" />
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">所属机构：</label>
							<div class="layui-input-block">
			                	<input type="text" class="orgTree layui-input" readonly="readonly" />
			                	<input type="hidden" name="search_EQ_deptcode"  />
      						</div>
						</div>
					</li>
				</ul>
				<div class="btnWrap">
					<button type="button" class="cx_btn searchBtn">
						<i class='DHCiconfont'>&#xe606;</i>查询
					</button>
					<button type="reset" class="qk_btn resetBtn">
						<i class='DHCiconfont'>&#xe609;</i>清空
					</button>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>

	<!-- 表格部分 -->
	<div class="list-m">
		<div class="list-top">
			<div class="list-top_left">
				<h5
					style="background: url(../static/images/table/sx_icon2.png) 17px no-repeat">中心一代用户列表</h5>
			</div>
			<div class="btnWrap">
				<ul>
					<li><a class="createBtn"><i class='DHCiconfont'>&#xe61c;</i>新增</a>
					</li>
					<li><a class="updateBtn"><i class='DHCiconfont'>&#xe601;</i>编辑</a>
					</li>
					<li><a class="deleteBtn"><i class='DHCiconfont'>&#xe61c;</i>删除</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="datail" style="padding: 0px; margin-bottom: 0px;">
			<table id="grid-data" lay-filter="grid-data"></table>
		</div>
	</div>
</body>

<script type="text/javascript"
	src="../static/script/listIncludeScript.js"></script>
<script type="text/javascript">
	// 获取页面url配置文件列表对象
	var listObj = getUrlList("../static/script/urlList/ccuser.json");
	// 获取当前页面name
	var pageName = $("body").attr("name");
	// 获取当前页面url配置列表对象
	var urlObj = returnOneUrlObj(pageName, listObj);
	//字典
	var oprOrgDic = {
			url : "common/getDeptCodeName",	
			type : "deptCodeName"
		};
	
	var gridDicData = gridShowDic([oprOrgDic]);
	
	layui.use([ "table", "form", "layer" ], function(){
		var table = layui.table,
		form = layui.form,
		layer = layui.layer;
		loadDic("common/getDeptCodeName", "deptcode", "deptCodeName");
		
		var gridopt = {
			urlObj : urlObj
				,cols : [[{
					checkbox: true}, {
						field : 'ccId',
						title : '征信用户名称',
						event: 'detail',
						width : "120",
						templet: function(d){
							// 表格中字典转换
							return "<a class='layui-link'>"+d.ccId+"</a>";
					}
				}, {
					field : 'ccuser',
					title : '征信用户账号',
					width : "150",
				},  {
					field : 'ccdept',
					title : '征信机构',
					width : "150"
				}, {
					field : 'createUser',
					title : '创建用户',
					width : "150"
					}, {
					field : 'deptcode',
					title : '所属机构',
					width : "150",
					templet: function(d){
						// 表格中字典转换
						return gridDicData[oprOrgDic.type][d.deptcode]+"";
					}
				}
				]]
			}
		
			var returnObj = gridInit(form,table,gridopt);
			// 绑定页面点击事件（含初始化页签组件）
			/* returnObj.searchData = $("form").serializeJSON(); */
			bindBtnEvent(returnObj,urlObj);
		});
</script>
</html>