<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改参数</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript" src="../static/script/pageIncludeStyle.js"></script>
<style>

</style>
</head>
<body>
	<div id="form-wrap" class="layui-form" lay-filter="setVal">
		<form id="update_form_id" action="creditUser/update">
			<div class="modal-body selectmodal">
				<ul class="formWrap clearfix">
					<li><span class="formLabel">征信用户名称：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input type="text" name="creditName" class="noReset layui-input"  />
							</div>
						</div>
					</li>
					<li>
						<span class="formLabel">征信用户账号：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input type="text" name="creditUser" class="validate[required,maxSize[32],custom[onlyLetterNumber]] layui-input" />
							</div>
						</div>
					</li>
					<li>
						<span class="formLabel">征信用户所属机构：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input type="text" name="creditOrgCode" class="validate[required] layui-input" />
							</div>
						</div>
					</li>
					<li>
						<span class="formLabel">征信用户密码：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input type="password" name="creditPassword" class="validate[maxSize[20],minSize[8],required] layui-input" />
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button  type="button" class="layui_btn btn_submit clearfix"
					id="testBtn">
					<i class='DHCiconfont'>&#xe617;</i>认证
				</button>
				<button type="submit" class="layui_btn btn_submit clearfix"
					id="submitPage">
					<i class='DHCiconfont'>&#xe617;</i>修改
				</button>
				<button type="reset" class="layui_btn btn_reset clearfix" id="resetPage"><i class='DHCiconfont'>&#xe609;</i>清 空</button>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript" src="../static/script/pageIncludeScript.js"></script>
<script type="text/javascript" src="../static/script/business/creditUser/creditUser.js"></script>
<script type="text/javascript">
//通过url传的参数对象
	var data = getParamObj();
	var projectName = getProjectName(location.href);
	var jsonData = getAjaxData(parent.urlObj.getValUrl, data);
	layui.use([ 'form', 'layedit', 'laydate' ],function() {
		var form = layui.form,
		layer = layui.layer, 
		layedit = layui.layedit,
		laydate = layui.laydate;
						
		form.val("setVal", jsonData);
		setReadonly(["creditName"]);
	})
	$(function() {
		bindPageBtnEvent();		
		bindCustomBtnEvent(parent.urlObj);
		// $('#submitPage').attr('disabled','disabled');
	});
</script>
</html>
 
