<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>按用户查询统计列表</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript" src="../static/script/listIncludeStyle.js"></script>
<link rel="stylesheet" href="../static/style/business/userOrOrgStatistics/userOrOrgStatistics.css">
<style>
	/* .layui-table .userTr td{
		color:#F4B100;
	}
	.layui-table .name{
		padding-left: 5px;
		color: #3E6AC3;
	}
	.layui-table .reason{
		padding-left: 20px;
		color: #41A9FF;
	}
	.layui-table .total{
		color: #FD971F;
		font-weight: bold;
	}
	.modal-body .month,.modal-body .year{
		display: none;
	} */
</style>
</head>
<body name="query">
	<div class="main-list">
			<div class="inquiry">
				<form class="layui-form" action="queryByUser/findByQueryUserSum">
					<div class="list-top">
						<div class="list-top_left">
							<h5 style="background:url(../static/images/table/sx_icon1.png) 17px no-repeat">筛选条件</h5>
						</div>
						<div class="list-top_right">
							<ul>
								<li><a href="javascript:void(0);"><img src="../static/images/table/btn_icon1.png"></a></li>
								<li><a href="javascript:void(0);"><img src="../static/images/table/btn_icon2.png"></a></li>
								<li><a href="javascript:void(0);"><img src="../static/images/table/btn_icon3.png"></a></li>
							</ul>
						</div>
					</div>
					<ul class="cons modal-body clearfix">
						<li>
			              <div class="layui-form-item">
			                <label class="layui-form-label">起始日期：</label>
			                <div class="layui-input-block">
			                	<input type="text"  id="startDate" class="sDate layui-input date "  name="day0" placeholder=" 请选择日期 ">
			                	<input type="text" id="startMonth" class="sDate layui-input month"  name="month0" placeholder=" 请选择月份 ">
			                	<input type="text" id="startYear" class="sDate layui-input year"  name="year0" placeholder=" 请选择年份 ">
      						</div>
			              </div>
            			</li>
            			<li>
			              <div class="layui-form-item">
			                <label class="layui-form-label">结束日期：</label>
			                <div class="layui-input-block">
			                	<input type="text" id="endDate" class="sDate layui-input date"  name="day1" placeholder=" 请选择日期 ">
			                	<input type="text" id="endMonth" class="sDate layui-input month"  name="month1" placeholder=" 请选择月份 ">
			                	<input type="text" id="endYear" class="sDate layui-input year"  name="year1" placeholder=" 请选择年份 ">
      						</div>
			              </div>
            			</li>
            			<li>
			              <div class="layui-form-item">
			                <label class="layui-form-label">机构范围：</label>
			                <div class="layui-input-block">
			                	<select name="search_EQ_operOrg"></select>
      						</div>
			              </div>
            			</li>
            			<li>
			              <div class="layui-form-item">
			                <label class="layui-form-label">批量标识：</label>
			                <div class="layui-input-block">
			                	<select name="search_EQ_batchFlag"></select>
      						</div>
			              </div>
            			</li>
            			<li>
			              <div class="layui-form-item">
			                <label class="layui-form-label">报告来源：</label>
			                <div class="layui-input-block">
			                	<select name="search_EQ_source"></select>
      						</div>
			              </div>
            			</li>
            			
            			<li>
			              <div class="layui-form-item">
			                <label class="layui-form-label">是否存在档案：</label>
			                <div class="layui-input-block">
			                	<select name="search_EQ_autharchiveId"></select>
      						</div>
			              </div>
            			</li>
            			<li>
			              <div class="layui-form-item">
			                <label class="layui-form-label">查询结果：</label>
			                <div class="layui-input-block">
			                	<select name="search_EQ_status"></select>
      						</div>
			              </div>
            			</li>
            			<li>
			              <div class="layui-form-item">
			                <label class="layui-form-label">制式报表：</label>
			                <div class="layui-input-block">
			                	<select name="search_EQ_formReport" lay-filter="formReport"></select>
      						</div>
			              </div>
            			</li>
<!--             			<li> -->
<!-- 			              <div class="layui-form-item"> -->
<!-- 			                <label class="layui-form-label">查询类型：</label> -->
<!-- 			                <div class="layui-input-block"> -->
<!-- 			                	<select name="search_EQ_queryType"></select> -->
<!--       						</div> -->
<!-- 			              </div> -->
<!--             			</li> 	 -->
            			
            			
<!--             			<li> -->
<!-- 			              <div class="layui-form-item"> -->
<!-- 			                <label class="layui-form-label">所属机构：</label> -->
<!-- 			                <div class="layui-input-block"> -->
<!-- 			                	<input type="text" class="orgTree layui-input" readonly="readonly" /> -->
<!-- 			                	<input type="hidden" name="search_IN_ownorg"  /> -->
<!--       						</div> -->
<!-- 			              </div> -->
<!--             			</li> -->
					</ul>
					<div class="btnWrap">
						<button type="button" class="cx_btn searchBtn"><i class='DHCiconfont'>&#xe606;</i>查询</button><button type="reset" class="qk_btn resetBtn"><i class='DHCiconfont'>&#xe609;</i>清空</button>
			        </div>
				</form>
			</div>	
			<div class="clear"></div>
		</div>
	<!--表格部分-->
	<div class="list-m">
		<div class="list-top">
			<div class="list-top_left">
				<h5 style="background:url(../static/images/table/sx_icon2.png) 17px no-repeat">按机构查询统计列表</h5>
			</div>
		</div>
		<div class="datail" style="padding: 0 10px 10px 10px;margin-bottom: 0px;">
		</div>
	</div>
</body>
<script type="text/javascript" src="../static/script/listIncludeScript.js"></script>
<script type="text/javascript" src="../static/script/business/userOrOrgStatistics/userOrOrgStatistics.js"></script>
<script type="text/javascript">
	var listObj = getUrlList("../static/script/urlList/query.json");
	// 获取当前页面name
	var pageName = $("body").attr("name");
	// 获取当前页面url配置列表对象
	var urlObj = returnOneUrlObj(pageName, listObj);
	layui.use(["table","form","layer","laydate"], function(){
		var table = layui.table,
			form = layui.form,
			layer = layui.layer,
			laydate = layui.laydate;
		//批量标志
		loadDic("common/ceqDic", "search_EQ_batchFlag", "bachType_ceq");
		//报告来源
		loadDic("common/ceqDic", "search_EQ_source", "reportSource_ceq");
		//查询类型
// 		loadDic("common/ceqDic", "search_EQ_queryType", "qryType_ceq");
		//是否存在档案
		loadDic("common/ceqDic", "search_EQ_autharchiveId", "whether_ceq");
		//查询结果
		loadDic("common/ceqDic", "search_EQ_status", "qryStatus_ceq");
		//制式报表
		loadDic("common/ceqDic", "search_EQ_formReport", "formReport_ceq",true);
		//用户类型
		loadDic("common/ceqDic", "search_EQ_userType", "userType_ceq");
		//机构范围
		loadDic("common/ceqDic", "search_EQ_operOrg", "orgRange_ceq");
		form.render('select');
		$(".resetBtn").on("click",function(){
			$(".date").show();
		  	$(".month,.year").hide();
		});
		form.on('select(formReport)', function(data){
			  $(".sDate").val("");
			  if(data.value == 1){
			  	$(".date").show();
			  	$(".month,.year").hide();
			  }else if(data.value == 2){
			  	$(".month").show();
			  	$(".date,.year").hide();
			  }else if(data.value == 3){
			  	$(".year").show();
			  	$(".date,.month").hide();
			  }
		});  
		// type = 0为按用户统计，type = 1为按机构统计。
		urlObj.type = 1;
		bindCustomBtnEvent(urlObj);
	})
</script>
</html>