<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息录入</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript"
	src="../static/script/pageIncludeStyle.js"></script>
<link rel="stylesheet"
	href="../static/style/business/inquire/inquire.css">
</head>
<body>
	<div id="form-wrap" class="layui-form">
		<form id="create_form_id" action="systemUser/create">
			<div class="list-top">
				<div class="list-top_left">
					<h5>
						<i class='DHCiconfont'>&#xe625;</i><span>信息录入</span>
					</h5>
				</div>
			</div>
			<div class="modal-body selectmodal">
				<div class="paramWrap">
					<ul class="formWrap clearfix">
						<li class="allCols"><span class="formLabel">企业名称：</span>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<input type="text" name="enterpriseName" id=enterpriseName
										class="validate[required,maxSize[80]] layui-input"
										placeholder="请输入" />
								</div>
							</div></li>
						<li><span class="formLabel">中征码：</span>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<!-- class="validate[maxSize[16],funcCall[orgLoanCard]] layui-input" -->
									<input type="text" name="signCode" id="signCode"
										
										placeholder="请输入" />
								</div>
							</div></li>

						<!-- 						<li> -->
						<!-- 							<span class="formLabel">机构信用代码：</span> -->
						<!-- 							<div class="layui-form-item"> -->
						<!-- 								<div class="layui-input-block"> -->
						<!-- 									<input  type="text" name="creditCode" id="creditCode" -->
						<!-- 										class="validate[funcCall[checkCreditCode]] layui-input" -->
						<!-- 										placeholder="请输入" /> -->
						<!-- 								</div> -->
						<!-- 							</div> -->
						<!-- 						</li> -->
						<li><span class="formLabel">统一社会信用代码：</span>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<input type="text" name="uniformSocialCredCode"
										id="uniformSocialCredCode" data-type="07"
										class="validate[funcCall[checkisCCode]] layui-input"
										placeholder="请输入" />
								</div>
							</div></li>
						<li><span class="formLabel">组织机构代码：</span>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<!-- validate[required,maxSize[10]] layui-input -->
									<input type="text" name="orgInstCode" id="orgInstCode"
										placeholder="请输入" />
								</div>
							</div></li>

						<li class="allCols"><span class="formLabel">关联业务数据：</span>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<input type="text" name="assocbsnssData"
										class="validate[maxSize[30],custom[blank]] layui-input"
										validateId="2" placeholder="请输入" />
								</div>
							</div></li>
					</ul>
				</div>
				<div class="paramWrap firstParam">
					<p>
						<span>查询参数</span>
					</p>
					<ul class="formWrap clearfix">
						<li><span class="formLabel">信用报告版本：</span>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<select name="queryFormat" class="validate[required]"></select>
								</div>
							</div></li>
						<li><span class="formLabel">信用报告封装类型：</span>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<select name="resultType" class="validate[required]"></select>
								</div>
							</div></li>
						<li><span class="formLabel">查询原因：</span>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<select name="qryReason" class="validate[required]"></select>
								</div>
							</div></li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="layui_btn btn_submit clearfix"
					id="submitPage">
					<i class='DHCiconfont'>&#xe617;</i>下一步
				</button>
				<button type="button" class="layui_btn btn_reset clearfix"
					id="resetPage">
					<i class='DHCiconfont'>&#xe609;</i>清 空
				</button>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript"
	src="../static/script/pageIncludeScript.js"></script>
<script type="text/javascript"
	src="../static/script/business/inquire/inquire.js"></script>
<!-- <script type="text/javascript" src="../static/script/business/archive/very1.js"></script>
<script type="text/javascript" src="../static/script/business/archive/very2.js"></script> -->
<script type="text/javascript">
setTimeout(function(){
	ajaxFunc(parent.urlObj.isProMode,function(data){
		console.log(data);
		if(data == 0){
			$('#orgInstCode').attr('class','validate[required,maxSize[10]] layui-input');
			$('#signCode').attr('class','validate[maxSize[16],funcCall[orgLoanCard]] layui-input');
			$('#orgInstCode').before('<span class="star" id="certtypeSpan">*</span>');
		}else{
			$('#orgInstCode').attr('class','validate[maxSize[10]] layui-input');
			$('#signCode').attr('class','validate[required,maxSize[16],funcCall[orgLoanCard]] layui-input')
			$('#signCode').before('<span class="star" id="certtypeSpan">*</span>');
		}
	}, function(data) {
			layerMsg("请求出错！");
	})
},100)
	
	function submitFun(url, data) {
		var submitData = data;
		var pName = getProjectName(location.href);
		var str = paramObjToStr(data);
		var step = "?step=authorize";
		var checkUrl = parent.urlObj.submitUrl + step;
		ajaxFunc(checkUrl, function(data) {
			var result = data;
			var code = result.resultCode;
			if (code != "10109" && code != "10198" && code != "10398"
					&& code != "10999") {
				parent.step.nextStep();
				if (result.resultCode == "10399"
						|| result.resultCode == "10201") {
					debugger
					var submiturl = parent.urlObj.submitUrl;
					submiturl = submiturl
							+ "?step=inquire&isNeedCheck=notNeedCheck";
					ajaxFunc(submiturl, function(data2) {
						var result2 = data2;
						if (result2.resultCode == "10310") {
							alertMsg(result);
							$(".modal-footer button").attr("disabled", false);
							window.hasSubmit = false;
						} else if (result2.resultCode == "10401") {
							confirmMsg(result2, parent.urlObj.localReportUrl
									+ "?" + str, parent.urlObj.showReportUrl
									+ "?" + str);
						} else if (result2.resultCode == "10400") {
							inquireReport(parent.urlObj.showReportUrl + "?"
									+ str, result2);
						} else {
							layerMsg(result2.resultMsg);
							$(".modal-footer button").attr("disabled", false);
							window.hasSubmit = false;
						}
					}, function(data) {
						layerMsg("请求出错！");
					}, submitData);
				} else {
					var submiturl = pName + result.url;
					var checkUrl = "inquire/checkInfo";
					if (checkUrl == result.url) {
						parent.step.nextStep();
					}
					$("#inquireWrap", parent.document).attr("src",
							submiturl + "?" + str);
				}
			} else {
				console.log(result);
				layerMsg(result.resultMsg);
				$(".modal-footer button").attr("disabled", false);
				window.hasSubmit = false;
			}
		}, function(data) {
			layerMsg("请求出错！");
		}, submitData);
	}
	layui.use([ 'form', 'layer' ], function() {
		form = layui.form, layer = layui.layer;
		//加载数据字典
		loadDic("common/ceqDic", "resultType", "resultType_ceq");
		loadDic("common/ceqDic", "qryReason", "qryReason_ceq");
		loadDic("common/ceqDic", "queryFormat", "qryFormat_ceq");
		form.render("select");
		//绑定相关事件
		showCreditOneOrTwo();
		bindPageBtnEvent();

	})
</script>
</html>
