<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人监管业务参数详情</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript" src="../static/script/pageIncludeStyle.js"></script>
</head>
<body>
	<div id="form-wrap" class="layui-form" lay-filter="setVal">
		<form id="detail_form_id">
			<div class="modal-body selectmodal">
				<ul class="formWrap clearfix">
					<li class="twoCols">
						<span class="formLabel">参数名称：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input type="text" name="configName" class="layui-input" />
							</div>
						</div>
					</li>
					<li class="emptyCols"></li>
					<li>
						<span class="formLabel">参数值：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input type="text" name="configValue" class="layui-input" />
							</div>
						</div>
					</li>
					<li>
						<span class="formLabel">修改人：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input type="text" name="updateUser" class="layui-input" />
							</div>
						</div>
					</li>
					
					<li>
						<span class="formLabel">修改时间：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<input type="text" name="updateTime" class="layui-input" />
							</div>
						</div>
					</li>
					<li class="threeCols">
						<span class="formLabel">参数描述：</span>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<textarea name="configDesc" class="validate[maxSize[256]] layui-textarea" placeholder="请输入"></textarea>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" id="closePage" class="layui_btn btn_submit clearfix" ><i class='DHCiconfont'>&#xe605;</i>关闭</button>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript" src="../static/script/pageIncludeScript.js"></script>

<script type="text/javascript">
	// 通过url传的参数对象
	var data = getParamObj();
	console.log(data);
	var jsonData = getAjaxData(parent.urlObj.getValUrl,data);
	layui.use(['form', 'layedit', 'laydate'], function(){
	  var form = layui.form,
	  layer = layui.layer,
	  layedit = layui.layedit,
	  laydate = layui.laydate;
		
	 	  
	  form.val("setVal",jsonData);

	  setReadonly();
	})
	
	$(function() {
		// 绑定按钮事件		
		bindPageBtnEvent();
	});
</script>
</html>
 
 
