<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>功能模块查询页面</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript"
	src="../static/script/pageIncludeStyle.js"></script>
</head>
<body>
	<div id="form-wrap">
		<form id="query_form_id" action="modula/getPage">
			<div class="modal-body">
				<table class="grayTable">
					<tr>
						<th align="right" class="thStyle">流程名称:</th>
						<td><input type="text" name="search_EQ_modulaName" class="" /></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<input type="submit" id="searchPage" class="btn-vip btn-blue"
					value="查询" /> <input type="reset" id="resetPage"
					class="btn-vip btn-white" value="清空" />
			</div>
		</form>
	</div>
</body>
<script type="text/javascript"
	src="../static/script/pageIncludeScript.js"></script>
<script type="text/javascript">
	
</script>
</html>

