<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>辖内查询记录列表</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript"
	src="../static/script/listIncludeStyle.js"></script>
</head>
<body name="resultInfo">
	<div class="main-list">
		<div class="inquiry">
			<form class="layui-form" action="">
				<div class="list-top">
					<div class="list-top_left">
						<h5
							style="background: url(../static/images/table/sx_icon1.png) 17px no-repeat">筛选条件</h5>
					</div>
					<div class="list-top_right">
						<ul>
							<li><a href="javascript:void(0);"><img
									src="../static/images/table/btn_icon1.png"></a></li>
							<li><a href="javascript:void(0);"><img
									src="../static/images/table/btn_icon2.png"></a></li>
							<li><a href="javascript:void(0);"><img
									src="../static/images/table/btn_icon3.png"></a></li>
						</ul>
					</div>
				</div>
				<ul class="cons  modal-body  clearfix">
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">客户姓名：</label>
							<div class="layui-input-block">
								<input type="text" name="search_EQ_customerName"
									class="layui-input" />
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">证件类型：</label>
							<div class="layui-input-block">
								<select type="text" name="search_EQ_certType"
									class="layui-input"></select>
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">证件号码：</label>
							<div class="layui-input-block">
								<input type="text" name="search_EQ_certNo" class="layui-input" />
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">查询原因：</label>
							<div class="layui-input-block">
								<select type="text" name="search_EQ_qryReason"
									class="layui-input"></select>
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">查询类型：</label>
							<div class="layui-input-block">
								<select type="text" name="search_EQ_queryType"
									class="layui-input"></select>
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">报告来源：</label>
							<div class="layui-input-block">
								<select type="text" name="search_EQ_source" class="layui-input"></select>
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">查询结果：</label>
							<div class="layui-input-block">
								<select type="text" name="search_EQ_status"
									class="layui-input"></select>
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">操作用户：</label>
							<div class="layui-input-block">
								<input type="text" name="search_EQ_operator" class="layui-input" />
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">查询版式：</label>
							<div class="layui-input-block">
								<select type="text" name="search_EQ_queryFormat"
									class="layui-input"></select>
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">查询时间：</label>
							<div class="layui-input-block">
								<input type="text" class="layui-input dateRange"
									name="search_GTE_LTE_queryTime_DATE" placeholder=" 请输入日期范围 ">
							</div>
						</div>
					</li>
					<li>
			              <div class="layui-form-item">
			                <label class="layui-form-label">操作机构：</label>
			                <div class="layui-input-block">
			                <input type="text" class="orgTree layui-input" readonly="readonly" />
			                	<input type="hidden" name="search_EQ_operOrg"  />
      						</div>
			              </div>
            		</li>
            		<li>
						<div class="layui-form-item">
							<label class="layui-form-label">批量标识：</label>
							<div class="layui-input-block">
								<select type="text" name="search_EQ_batchFlag"
									class="layui-input"></select>
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">系统来源：</label>
							<div class="layui-input-block">
								<input type="text" name="search_EQ_cstmsysId"
									class="layui-input" />
							</div>
						</div>
					</li>
				</ul>
				<div class="btnWrap">
					<button type="button" class="cx_btn searchBtn">
						<i class='DHCiconfont'>&#xe606;</i>查询
					</button>
					<button type="reset" class="qk_btn resetBtn">
						<i class='DHCiconfont'>&#xe609;</i>清空
					</button>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<!--表格部分-->
	<div class="list-m">
		<div class="list-top">
			<div class="list-top_left">
				<h5
					style="background: url(../static/images/table/sx_icon2.png) 17px no-repeat">辖内查询记录列表</h5>
			</div>
			<div class="btnWrap">
				<ul>
					<li><a class="exportBtn bj_btn"><i class='DHCiconfont'>&#xe601;</i>导出</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="datail" style="padding: 0px; margin-bottom: 0px;">
			<table id="grid-data" lay-filter="grid-data"></table>
		</div>
	</div>
</body>
<script type="text/javascript"
	src="../static/script/listIncludeScript.js"></script>
<script type="text/javascript">
	var listObj = getUrlList("../static/script/urlList/resultInfo.json");
	// 获取当前页面name
	var pageName = $("body").attr("name");
	// 获取当前页面url配置列表对象
	var urlObj = returnOneUrlObj(pageName, listObj);
	// 将url对象保存父页面
	var idTypeDic = {
		url : "common/cpqDic",
		type : "idType"
	};
	var qryReasonDic = {
		url : "common/cpqDic",
		type : "qryReason"
	};
	var qryTypeDic = {
		url : "common/cpqDic",
		type : "qryType"
	};
	var qryFormatDic = {
		url : "common/cpqDic",
		type : "qryFormat"
	};
	var basicDic3 = {
			url : "common/cpqDic",
			type : "bachType"
		};
	var reportSourceDic = {
		url : "common/cpqDic",
		type : "reportSource"
	};
	var qryStatusDic = {
		url : "common/cpqDic",
		type : "qryStatus"
	};
	var deptNameDic = {
			url : "common/getDeptCodeName",	
			type : "deptCodeName"
	};
	var bachTypeDic = {
			url : "common/cpqDic",	
			type : "bachType"
	};
	// parent.urlObj = urlObj;
	var gridDicData = gridShowDic([ idTypeDic,deptNameDic, qryReasonDic, qryTypeDic,
			qryFormatDic, reportSourceDic, qryStatusDic,bachTypeDic ]);
	var tabObj;
	// 字典
	layui.use([ "table", "form", "layer" ], function() {
		var table = layui.table, form = layui.form, layer = layui.layer;
		loadDic("common/cpqDic", "search_EQ_certType", "idType");
		loadDic("common/cpqDic", "search_EQ_qryReason", "qryReason");
		loadDic("common/cpqDic", "search_EQ_queryType", "qryType");
		loadDic("common/cpqDic", "search_EQ_queryFormat", "qryFormat");
		loadDic("common/cpqDic", "search_EQ_source", "reportSource");
		loadDic("common/cpqDic", "search_EQ_resultType", "resultType");
		loadDic("common/cpqDic", "search_EQ_status", "qryStatus");
		loadDic("common/cpqDic", "search_EQ_batchFlag", "bachType");
		form.render('select');
		// 设置表格组件配置项
		var gridopt = {
			urlObj : urlObj,
			cols : [ [ {
				checkbox : true
			}, {
				field : 'clientName',
				title : '客户姓名',
				width : "120",
				event : 'detail',
				templet : function(d) {
					// 表格中字典转换
					return "<a class='layui-link'>" + d.customerName + "</a>";
				}
			}, {
				field : 'certType',
				title : '证件类型',
				width : "120",
				templet : function(d) {
					// 表格中字典转换
					return gridDicData[idTypeDic.type][d.certType] + "";
				}
			}, {
				field : 'certNo',
				title : '证件号码',
				width : "120"
			}, {
				field : 'qryReason',
				title : '查询原因',
				width : "120",
				templet : function(d) {
					// 表格中字典转换
					return gridDicData[qryReasonDic.type][d.qryReason] + "";
				}
			}, {
				field : 'queryType',
				title : '查询类型',
				width : "120",
				templet : function(d) {
					// 表格中字典转换
					// return gridDicData[qryTypeDic.type][d.queryType] + "";
					return "信用报告查询"

				}
			},  {
				field : 'batchFlag',
				title : '批量标志',
				width : "120",
				templet : function(d) {
					// 表格中字典转换
					return gridDicData[bachTypeDic.type][d.batchFlag] + "";
				}
			}, {
				field : 'queryFormat',
				title : '查询版式',
				width : "120",
				templet : function(d) {
					// 表格中字典转换
					// return gridDicData[qryFormatDic.type][d.queryFormat]+"";
					return "授信机构版"

				}
			}, {
				field : 'status',
				title : '查询结果',
				width : "120",
				templet : function(d) {
					// 表格中字典转换
					return gridDicData[qryStatusDic.type][d.status] + "";
				}
			}, {
				field : 'source',
				title : '报告来源',
				width : "120",
				templet : function(d) {
					// 表格中字典转换
					return gridDicData[reportSourceDic.type][d.source] + "";
				}
			}, {
				field : 'operator',
				title : '操作用户',
				width : "120"
			}, {
				field : 'cstmsysId',
				title : '系统来源',
				width : "120"
			}, {
				field : 'operOrg',
				title : '操作机构',
				width : "120",
				templet : function(d) {
					// 表格中字典转换
					return gridDicData[deptNameDic.type][d.operOrg] + "";
				}
			}, {
				field : 'queryTime',
				title : '查询时间',
				width : "120"
				
			} ] ]
		}
		var returnObj = gridInit(form, table, gridopt, urlObj);
		// 绑定页面点击事件（含初始化页签组件）
		//returnObj.searchData = $("form").serializeJSON();
		bindBtnEvent(returnObj, urlObj);
	});
</script>
</html>