<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>查询预警规则</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript" src="../static/script/listIncludeStyle.js"></script>
</head>
<body name="ruleConfig">
	<!-- 表格部分 -->
	<div class="list-m">
		<div class="list-top">
			<div class="list-top_left">
				<h5
					style="background: url(../static/images/table/sx_icon2.png) 17px no-repeat">查询预警规则列表</h5>
			</div>
			<div class="btnWrap">
				<ul>
					<li><a class="createBtn"><i class='DHCiconfont'>&#xe61c;</i>新增</a>
					</li>
					<li><a class="updateBtn"><i class='DHCiconfont'>&#xe601;</i>编辑</a>
					</li>
					<li><a class="deleteBtn"><i class='DHCiconfont'>&#xe61c;</i>删除</a>
					</li>
					<li><a class="exportBtn bj_btn"><i class="DHCiconfont"></i>导出</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="datail" style="padding: 0px; margin-bottom: 0px;">
			<table id="grid-data" lay-filter="grid-data"></table>
		</div>
	</div>
</body>

<script type="text/javascript" src="../static/script/listIncludeScript.js"></script>
<script type="text/javascript">
	Date.prototype.format = function (format) {
       var args = {
           "M+": this.getMonth() + 1,
           "d+": this.getDate(),
           "h+": this.getHours(),
           "m+": this.getMinutes(),
           "s+": this.getSeconds(),
           "q+": Math.floor((this.getMonth() + 3) / 3),  //quarter
           "S": this.getMilliseconds()
       };
       if (/(y+)/.test(format))
           format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
       for (var i in args) {
           var n = args[i];
           if (new RegExp("(" + i + ")").test(format))
               format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? n : ("00" + n).substr(("" + n).length));
       }
       return format;
    };
	var operater = $(".header_rig_box .userName",parent.document).text();
	var operatrTime = new Date().format("yyyy-MM-dd hh:mm:ss");
	console.log(operater);
	console.log(operatrTime);
	// 获取页面url配置文件列表对象
	var listObj = getUrlList("../static/script/urlList/ruleConfig.json");
	// 获取当前页面name
	var pageName = $("body").attr("name");
	// 获取当前页面url配置列表对象
	var urlObj = returnOneUrlObj(pageName, listObj);
	// 获取静态数据
	var getPageData = getAjaxData(urlObj.getPage,null);
	//字典
	var oprOrgDic = {
			url : "common/getDeptCodeName",	
			type : "deptCodeName"
		};
	
	var gridDicData = gridShowDic([oprOrgDic]);
	
	layui.use([ "table", "form", "layer" ], function(){
		var table = layui.table,
		form = layui.form,
		layer = layui.layer;
		loadDic("common/getDeptCodeName", "deptcode", "deptCodeName");
		
		var gridopt = {
			urlObj : urlObj
			,page:0
			,data:getPageData
				,cols : [[{
					checkbox: true
				}, {
					field : 'ruleNum',
					title : '规则编号',
					event: 'detail',
					width : "100",
					templet: function(d){
						// 表格中字典转换
						return "<a class='layui-link'>"+d.ruleNum+"</a>";
					}
				}, {
					field : 'ruleName',
					title : '规则名称',
					width : "180",
				}, {
					field : 'orgId',
					title : '所属机构',
					width : "150",
					templet: function(d){
						// 表格中字典转换
						return gridDicData[oprOrgDic.type][d.orgId]+"";
					}
				},  {
					field : 'isIner',
					title : '是否辖内',
					width : "120",
					templet: function(d){
						var str = "";
						if(d.isIner == "on"){
							str = "是";
						}else if(d.isIner == "off"){
							str = "否";
						}
						return str;
					}
				}, {
					field : 'dimension',
					title : '预警维度',
					width : "120"
				}, {
					field : 'index',
					title : '预警指标',
					width : "120"
				}, {
					field : 'cycle',
					title : '重置周期',
					width : "120"
				}, {
					field : 'treshold',
					title : '触发阈值',
					width : "120"
				}, {
					field : 'mode',
					title : '处理方式',
					width : "120"
				}
				]]
			}
		
			var returnObj = gridInit(form,table,gridopt);
			// 绑定页面点击事件（含初始化页签组件）
			/* returnObj.searchData = $("form").serializeJSON(); */
			bindBtnEvent(returnObj,urlObj);
		});
</script>
</html>