<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>特殊通道列表</title>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript"
	src="../static/script/listIncludeStyle.js"></script>
<style>
	.laytable-cell-1-status {
	    width: 120px !important;
	}
</style>
</head>
<body name="greenChannel">
	<div class="main-list">
		<div class="inquiry">
			<form class="layui-form" action="">
				<div class="list-top">
					<div class="list-top_left">
						<h5>筛选条件</h5>
					</div>
					<div class="list-top_right">
						<ul>
							<li><a href="javascript:void(0);"><img	src="../static/images/table/btn_icon1.png"></a></li>
							<li><a href="javascript:void(0);"><img	src="../static/images/table/btn_icon2.png"></a></li>
							<li><a href="javascript:void(0);"><img	src="../static/images/table/btn_icon3.png"></a></li>
						</ul>
					</div>
				</div>
				<ul class="cons clearfix modal-body">
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">特权用户：</label>
							<div class="layui-input-block">
								<input type="text" name="search_LIKE_userAuthorized"
									class="layui-input" />
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">所属机构：</label>
							<div class="layui-input-block">
			                	<input type="text" class="orgTree layui-input" readonly="readonly" />
			                	<input type="hidden" name="search_IN_orgId" />
      						</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">授权起始日期:</label>
							<div class="layui-input-block">
								<input type="text" id="startDate" class="layui-input date"
									name="search_GTE_beginTimeAuthorized_DATE"	placeholder=" 请选择日期 ">
							</div>
						</div>
					</li>

					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">授权到期日期:</label>
							<div class="layui-input-block">
								<input type="text" id="endDate" class="layui-input date"
									name="search_LTE_endTimeAuthorized_DATE" placeholder=" 请选择日期 ">
							</div>
						</div>
					</li>
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">查询原因：</label>
							<div class="layui-input-block">
								<select name="search_LIKE_qryReason">
								</select>
							</div>
						</div>
					</li>

					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">授权用户：</label>
							<div class="layui-input-block">
								<input type="text" name="search_LIKE_operator"
									class="layui-input" />
							</div>
						</div>
					</li>
					
					<li>
						<div class="layui-form-item">
							<label class="layui-form-label">查询授权：</label>
							<div class="layui-input-block">
								<select name="search_LIKE_authorizeType">
								</select>
							</div>
						</div>
					</li>

				</ul>
				<div class="btnWrap">
					<button type="button" class="cx_btn searchBtn">
						<i class='DHCiconfont'>&#xe606;</i>查询
					</button>
					<button type="reset" class="qk_btn resetBtn">
						<i class='DHCiconfont'>&#xe609;</i>清空
					</button>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>

	<!-- 表格部分 -->
	<div class="list-m">
		<div class="list-top">
			<div class="list-top_left">
				<h5
					style="background: url(../static/images/table/sx_icon2.png) 17px no-repeat">特殊通道列表</h5>
			</div>
			<div class="btnWrap">
				<ul>
					<li><a class="createBtn"><i class='DHCiconfont'>&#xe608;</i>新增</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="datail" style="padding: 0px; margin-bottom: 0px;">
			<table id="grid-data" lay-filter="grid-data"></table>
		</div>
	</div>
</body>

<script type="text/javascript" src="../static/script/listIncludeScript.js"></script>
<script type="text/javascript" src="../static/script/business/greenChannel/greenChannel.js"></script>

<script type="text/html" id="status">
	 <input  type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="停用|启用" lay-filter="status" {{ d.status == 0 ?   'checked':""  }}   >
</script>


<script type="text/javascript">
	// 获取页面url配置文件列表对象
	var listObj = getUrlList("../static/script/urlList/greenChannel.json");
	// 获取当前页面name
	var pageName = $("body").attr("name");
	// 获取当前页面url配置列表对象
	var urlObj = returnOneUrlObj(pageName, listObj);
	
	
	//字典
	
	var qryReasonDic ={
			url : "common/cpqDic",
			type : "qryReason"
		};
	var oprOrg = {
			url : "common/getDeptCodeName",	
			type : "deptCodeName"
		};
	
	
	var authorizeDic ={
			url : "common/cpqDic",	
			type : "authorizeType"
		};
	
	var gridDicData = gridShowDic([qryReasonDic,oprOrg,authorizeDic]);
	
	console.log(gridDicData)
	
	layui.use([ "table", "form", "layer" ], function(){
		var table = layui.table,
		form = layui.form,
		layer = layui.layer;
		
		
		loadDic("common/getDeptCodeName", "search_LIKE_orgId", "deptCodeName");
		loadDic("common/cpqDic", "search_LIKE_qryReason", "qryReason");
		loadDic("common/cpqDic", "search_LIKE_authorizeType", "authorizeType");
		
		form.render('select'); 
		
		var gridopt = {
			urlObj : urlObj
				,cols : [[{
					checkbox: true}, {
						field : 'userAuthorized',
						title : '特权用户',
						width : "120",
						
				}, {
					field : 'orgId',
					title : '用户机构',
					width : "150",
					templet: function(d){
						// 表格中字典转换
						return gridDicData[oprOrg.type][d.orgId]+"";
					}
					
				},  {
					field : 'qryReason',
					title : '查询原因',
					width : "150",
					templet: function(d){
						// 表格中字典转换
						return gridDicData[qryReasonDic.type][d.qryReason]+"";
					}
				},{
					field : 'authorizeType',
					title : '查询授权',
					width : "150",
					templet: function(d){
						// 表格中字典转换
						return gridDicData[authorizeDic.type][d.authorizeType]+"";
					}
					
				},{
					field : 'beginTimeAuthorized',
					title : '授权起始时间',
					width : "150",
				}, {
					field : 'endTimeAuthorized',
					title : '授权截止时间',
					width : "150",
				},{
					field : 'status',
					title : '状态',
					width : "150",
					templet: '#status'
				},{
					field : 'operator',
					title : '授权人',
					width : "150",
				},{
					field : 'operatorOrg',
					title : '授权机构',
					width : "150",
					templet: function(d){
						// 表格中字典转换
						return gridDicData[oprOrg.type][d.operatorOrg]+"";
					}
				},{
					field : 'updateTime',
					title : '授权时间',
					width : "150",
				},{
					field : 'querynum',
					title : '查询次数',
					width : "150",
				}]]
			}
			var returnObj = gridInit(form,table,gridopt);
			// 绑定页面点击事件（含初始化页签组件）
			//returnObj.searchData = $("form").serializeJSON();
			bindBtnEvent(returnObj,urlObj);
		});
</script>
</html>