<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../static/script/autoload.js"></script>
<script type="text/javascript" src="../static/script/listIncludeStyle.js"></script>
</head>
<script type="text/javascript" src="../static/script/listIncludeScript.js"></script>
<script type="text/javascript" src="../static/script/pageIncludeScript.js"></script>

<script type="text/javascript">
	$(function() {
		var Pname = getProjectName(location.href);
		var loginUrl = Pname + "querysendmess/tryLogin?" + Math.random();
		console.log(loginUrl);
		$.get(loginUrl, function(result) {
			

			var obj = strToJson(result);
			if (obj.code == "00000") {
				console.log("obj.code == 0000");
				window.location.href = "/creditplatformweb/";
			} else {
				console.log(document.cookie);
				if(obj.code=="00001"){
// 					alert("征信中心登陆失败，请查看!");
// 					window.parent.location.href = "/creditplatformweb/";
					layui.use(["table","form","layer"], function(){
		var layer = layui.layer;
		layerAlert("征信中心登陆失败，请查看!",function(){
			$(".layui-tab .layui-this .layui-tab-close",parent.document).click();
		})
})
				}else{
					window.location.href = "/shwebroot/upload/querysendmess.jsp";
				}
			}
			
		});
	})
</script>
</html>